/* BASE ****************/

:root {
    --primary-color: #c3e4ab;
    --secondary-color: #ccedb5;
    --darkmode: #1e180b;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lexend Peta', sans-serif;
    background-color: var(--secondary-color);
    font-size: 18px;
}

button {
    font-family: 'Lexend Peta', sans-serif;
}

.hey_there {
    position: absolute;
    transform: rotate(180deg);
    top: 480px;
    right: 520px;
}

.hey_there img:nth-child(2) {
    display: none;
}

.hey-there-click {
    position: absolute;
    top: 440px;
    right: 430px;
    font-size: 1.3em;
}

/*
.background_blobs {
    background-image: url(images/blob-scene-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
} */


/* NAVIGATION **************/

nav {
    margin: 30px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

nav h3 {
    font-size: 2.2em;
    cursor: pointer;
    color: var(--darkmode);
}

.dark_mode {
    align-self: center;
}

.dark_mode button {
    border: 0;
    cursor: pointer;
    background-color: transparent;
}

.pulsate:hover {
	-webkit-animation: pulsate-fwd 1s ease-in-out both;
	        animation: pulsate-fwd 1s ease-in-out both;
}

@keyframes pulsate {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  

.dark_mode button .fa-moon {
    font-size: 3.4em;
    color: var(--darkmode);
}

.nav_primary ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
    font-size: 1.1em;
    margin-top: 10px;
}

.nav_primary ul li a {
    text-decoration: none;
    color: var(--darkmode);
}


/* HEADER with CARD display **************/

.wrapper {
    height: 740px;
}

.card_wrapper {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 25%;
    left: 50%;
    margin-top: -100px;  
    margin-left: -250px;
}

.card {
    width: 500px;
    height: 700px;
    border-radius: 17px;
    background: linear-gradient(145deg, #dafec2, #b8d5a3);
    box-shadow:  21px 21px 43px #a1bb8f,
                 -21px -21px 43px #f7ffdb;
}

.card_toggle {
    display: none;
}

.main_card {
    padding: 40px;
}

.main_card .pacoon_logo_card {
    display: flex;
    justify-content: center;
}

.card_reminder {
    background-color: white;
    border-radius: 17px;
    margin-top: 20px;
}

.one_box {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.one_box p {
    font-size: 1.4em;
}

.one_box .fa-solid {
    font-size: 2em;
}

.card_plus {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.card_plus .fa-plus {
    font-size: 2em;
}

.card_plus button {
    border: 2px solid var(--darkmode);
    border-radius: 50%;
    width: 49px;
    padding: 10px;
    background-color: transparent;
}

.card_toggle_button_settings {
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
}

.card_toggle_button_settings .fa-solid {
    font-size: 2.2em;
    color: var(--darkmode);
}

/* small toggle button */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: var(--secondary-color);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px var(--secondary-color);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}


/* FIRST SECTION ABOUT ************/

.wrapper_secondary {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 550px;
    margin-top: 200px;
    background-color: var(--darkmode);
    color: white;
    z-index: 100;
    padding: 25px;
}

.wrapper_secondary p {
    line-height: 35px;
    margin-bottom: 20px;
}

.wrapper_secondary h2::first-letter,
.wrapper_third h2::first-letter {
    font-size: 4em;
}

.wrapper_secondary h2 {
    font-size: 2em;
}


/* SECOND SECTION **************/

.wrapper_third {
    background-color: white;
    color: var(--darkmode);
    height: 800px;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    padding: 25px;
    display: flex;
    padding-top: 70px;
    justify-content: space-between;
}

.wrapper_third .left_aside {
    line-height: 35px;
    width: 50%;
}

.wrapper_third .left_aside p {
    margin-bottom: 30px;
}
.wrapper_third .left_aside a {
    color: var(--darkmode);
}

.left_aside h2 {
    margin-bottom: 30px;
}

.left_aside .fa-solid {
    font-size: 2.4em;
    padding: 15px;
}


.light_mode_preview {
    background-color: var(--primary-color);
    width: 200px;
    height: 100px;
    color: var(--darkmode);
    border-radius: 10px;
    box-shadow:  12px 12px 24px #c9c9c9,
                -12px -12px 24px #ffffff;
    text-align: center;
    padding-top: 40px;
}

.dark_mode_preview {
    background-color: var(--darkmode);
    width: 200px;
    height: 100px;
    color: white;
    border-radius: 10px;
    box-shadow:  12px 12px 24px #c9c9c9,
                -12px -12px 24px #ffffff;
    text-align: center;
    padding-top: 40px;
}

.right_aside_flex {
    display: flex;
    justify-content: space-around;
    margin: 70px 0;
}

.right_aside h2 {
    margin-top: 80px;
}

/* THIRD SECTION - that ended up being in the middle...sorry XD **********/

.wrapper_fourth {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 850px;
    background-color: var(--darkmode);
    z-index: 100;
    position: relative;
    display: flex;
    align-items: center;
    line-height: 40px;
    color: white;
}

.wrapper_fourth .fourth_card_exp {
    color: white;
    padding-right: 100px;
}

.fourth_card_exp h2 {
    font-size: 2em;
}
.fourth_card_exp h2::first-letter {
    font-size: 4em;
}

.fourth_card_exp ul {
    padding-left: 50px;
    padding-top: 100px;
}

.wrapper_fourth .card_wrapper_two .card_toggle_button_settings .fa-solid {
    color: white;
}

form {
    padding-top: 10px;
}

input[type="time"] {
    border: none;
    background-color: var(--secondary-color);
    padding: 10px;
    color: black; 
    font-size: 1.4em;
    outline: none;
    border-radius: 15px;
}

.card_time {
    padding-bottom: 15px;
}

.small_grid_week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    gap: 10px;
    color: black;
}

.small_grid_week span {
    background-color: var(--secondary-color);
    border-radius: 15px;
    cursor: pointer;
    font-size: 0.8em;
}

.small_grid_week span:hover {
    background-color: white;
    transition: 1s;
}

.card_icons_choose {
    font-size: 2em;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 10px;
}
.card_icons_choose .fa-solid:hover {
    color: var(--primary-color);
    transition: 1s;
}

input[type="text"] {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
    background-color: var(--secondary-color);
}

#choose_file {
    background-color: var(--secondary-color);
    border-radius: 15px;
    text-align: center;
    color: black;
    cursor: pointer;
}

.form_wrapper form .card_plus button {
    border: 2px solid white;
    border-radius: 50%;
    width: 49px;
    padding: 10px;
    background-color: transparent;
}

.form_wrapper form .card_plus .fa-plus {
    color: white;
}

.card_wrapper_two {
    width: 43%;
}

/* FOOTER **************/

footer {
    background-color: var(--darkmode);
    color: white;
    height: 200px;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card_wrapper_two .card {
    border-radius: 20px;
    background: linear-gradient(145deg, #201a0c, #1b160a);
    box-shadow:  21px 21px 43px #161108,
                -21px -21px 43px #261f0e;
    margin-left: 100px;
}


/* pacoon logo */

.pacoon_logo {
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 150px;
    width: 100px; 
    z-index: 200;
}

.pacoon_logo img {
    width: 100px;
}

.pacoon_logo_card img:nth-child(2) {
    display: none;
} 

/* DARK MODE TOGGLE ********/

.dark-mode {
    background-color: var(--darkmode);
    color: white !important;
}

.dark-mode .fa-moon,
.dark-mode .nav_primary ul li a,
.dark-mode h2, .dark-mode h3
 {
    color: white !important;
}

.dark-mode .card {
    border-radius: 20px;
    background: linear-gradient(145deg, #201a0c, #1b160a);
    box-shadow:  21px 21px 43px #161108,
             -21px -21px 43px #261f0e;
}

.dark-mode .hey_there img:nth-child(2) {
    display: block;
}

.dark-mode .hey_there img:nth-child(1) {
    display: none;
}

.dark-mode .card_reminder {
    background-color: var(--secondary-color);
}

.dark-mode .one_box {
    color: black;
}

.dark-mode input:checked + .slider {
    background-color: var(--darkmode);
}
  
.dark-mode input:focus + .slider {
    box-shadow: 0 0 1px var(--darkmode);
}

.dark-mode .card_plus .fa-plus {
    color: white;
}

.dark-mode .card_plus button {
    border: 2px solid white;
    border-radius: 50%;
    width: 49px;
    padding: 10px;
    background-color: transparent;
}

.dark-mode .card_toggle_button_settings .fa-ellipsis-vertical {
    color: white;
}

.dark-mode .pacoon_logo_card img:nth-child(2) {
    display: block;
}

.dark-mode .pacoon_logo_card img:nth-child(1) {
    display: none;
}

.dark-mode .wrapper_third h2 {
    color: var(--darkmode) !important;
}

.dark-mode .bm-pl__blob--g {
    background: #261f0e;
}

.dark-mode .bm-pl__blob--r {
    background: #1b160a;
}

/* BLOB ANIMATION *************/

.bm-pl__blob {
	animation: moveR 30s linear infinite;
	border-radius: 50%;
	mix-blend-mode: screen;
	position: fixed;
	top: 100px;
	left: 12%;
	width: 70em;
	height: 70em;
}

.bm-pl__blob--r {
	background: #608546;
}
.bm-pl__blob--g {
	animation-name: moveG;
	background: #ccedb5;
}

/* Animation */
@keyframes moveR {
	from, to {
		border-radius: 54% 79% 75% 58% / 70% 66% 71% 47%;
		transform: translate(0,0) rotate(-35deg) scale(0.875,1);
	}
	33% {
		border-radius: 79% 43% 56% 67% / 58% 64% 61% 60%;
		transform: translate(2.75em,0) rotate(0) scale(0.75,0.875);
	}
	67% {
		border-radius: 55% 77% 56% 67% / 58% 64% 61% 60%;
		transform: translate(1.25em,-0.5em) rotate(0) scale(1.125,0.875);
	}
}
@keyframes moveG {
	from, to {
		border-radius: 60% 59% 51% 58% / 69% 64% 52% 55%;
		transform: translate(2.25em,1em) rotate(45deg) scale(1.125,0.875);
	}
	33% {
		border-radius: 51% 95% 72% 59% / 75% 98% 54% 75%;
		transform: translate(0,0.5em) rotate(0) scale(1,1);
	}
	67% {
		border-radius: 74% 85% 63% 87% / 81% 100% 62% 82%;
		transform: translate(1em,2em) rotate(0) scale(0.75,0.875);
	}
}
@keyframes moveB {
	from, to {
		border-radius: 52% 59% 50% 58% / 56% 80% 40% 59%;
		transform: translate(1.75em,3em) rotate(0) scale(1,1);
	}
	25% {
		border-radius: 71% 58% 100% 43% / 68% 53% 85% 68%;
		transform: translate(-0.75em,3em) rotate(10deg) scale(0.75,1);
	}
	50% {
		border-radius: 99% 62% 87% 69% / 93% 92% 79% 75%;
		transform: translate(2em,2em) rotate(0) scale(0.7,0.7);
	}
	75% {
		border-radius: 78% 98% 100% 73% / 75% 76% 100% 91%;
		transform: translate(3.5em,2em) rotate(0) scale(0.875,0.875);
	}
}


/* MEDIA QUERIES **************************/


@media screen and (min-width: 320px) and (max-width: 520px) {
    .wrapper {
        background-image: url(images/blob-scene-haikei.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: fit-content;
    }

    .dark-mode .wrapper {
        background-image: url(images/blob-scene.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: fit-content;
    }

    .wrapper .card_wrapper {
        display: flex;
        justify-content: center;
        padding-top: 130px;
        padding-bottom: 80px;
    }

    .card_wrapper,
    .wrapper_secondary,
    .footer,
    .wrapper_third,
    .bm-pl__blob,
    .wrapper_fourth {
        position: static;
        height: fit-content;
        display: block;
        width: 100%;
        padding: 30px;
        margin: 0;
    } 

    .wrapper_secondary,
    .footer,
    .wrapper_third,
    .bm-pl__blob,
    .wrapper_fourth {
        font-size: 1.4em;
    }

    .card .main_card {
        display: block;
    }

    .bm-pl__blob {
        display: none;
    }

    .wrapper_fourth .fourth_card_exp {
        margin: 0;
        padding-right: 0;
    } 
    .wrapper_third .left_aside {
        width: 100%;
    }   

    .card_wrapper_two .card {
        margin: 0;
        padding: 40px 0;
    }

    .hey_there,
    .hey-there-click {
        display: none;
    }

    .pacoon_logo {
        margin-top: -50px;
    }

    .card_wrapper_two {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .fourth_card_exp {
        padding-top: 90px;
        padding-bottom: 40px;
    }

    .fourth_card_exp h2 {
        line-height: 70px;
    }

    .wrapper_third {
        padding: 100px 45px;
    }

    .right_aside p:nth-child(2) {
        text-align: center;
    }

    .card_wrapper_two .card {
        width: 90%;
    }

    .small_grid_week {
        display: flex;
        flex-wrap: wrap;  
    }

    .wrapper_third h2::first-letter,
    .wrapper_fourth h2::first-letter
     {
        font-size: 1em;
    }

    .card_toggle_button_settings {
        margin-top: 80px;
    }
}

@media screen and (min-width: 521px) and (max-width: 768px) {
    .wrapper {
        background-image: url(images/blob-scene-haikei.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: fit-content;
    }

    .dark-mode .wrapper {
        background-image: url(images/blob-scene.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: fit-content;
    }

    .wrapper .card_wrapper {
        display: flex;
        justify-content: center;
        padding-top: 130px;
        padding-bottom: 80px;
    }

    .card_wrapper,
    .wrapper_secondary,
    .footer,
    .wrapper_third,
    .bm-pl__blob,
    .wrapper_fourth {
        position: static;
        height: fit-content;
        display: block;
        width: 100%;
        padding: 30px;
        margin: 0;
    }

    .wrapper_secondary,
    .footer,
    .wrapper_third,
    .bm-pl__blob,
    .wrapper_fourth {
        font-size: 1.4em;
    }

    .card .main_card {
        display: block;
    }

    .bm-pl__blob {
        display: none;
    }

    .wrapper_fourth .fourth_card_exp {
        margin: 0;
        padding-right: 0;
    }
    .wrapper_third .left_aside {
        width: 100%;
    }

    .card_wrapper_two .card {
        margin: 0;
    }

    .hey_there,
    .hey-there-click {
        display: none;
    }

    .pacoon_logo {
        margin-top: -50px;
    }

    .card_wrapper_two {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .fourth_card_exp {
        padding-top: 90px;
        padding-bottom: 40px;
    }

    .fourth_card_exp h2 {
        line-height: 70px;
    }

    .wrapper_third {
        padding: 100px 45px;
    }

    .right_aside p:nth-child(2) {
        text-align: center;
    }
      
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	.wrapper {
        background-image: url(images/blob-scene-haikei.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: fit-content;
    }

    .dark-mode .wrapper {
        background-image: url(images/blob-scene.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: fit-content;
    }

    .wrapper .card_wrapper {
        display: flex;
        justify-content: center;
        padding-top: 130px;
        padding-bottom: 80px;
    }

	.card_wrapper,
    .wrapper_secondary,
    .footer,
    .wrapper_third,
    .bm-pl__blob,
    .wrapper_fourth {
        position: static;
        height: fit-content;
        display: block;
        width: 100%;
        padding: 30px 50px;
        margin: 0;
    }

    .wrapper_secondary,
    .footer,
    .wrapper_third,
    .bm-pl__blob,
    .wrapper_fourth {
        font-size: 1.4em;
    }

    .card .main_card {
        display: block;
    }

    .bm-pl__blob {
        display: none;
    }
    
    .wrapper_fourth .fourth_card_exp {
        margin: 0;
        padding-right: 0;
    }
    .wrapper_third .left_aside {
        width: 100%;
    }

    .card_wrapper_two .card {
        margin: 0;
    }

    .hey_there,
    .hey-there-click {
        display: none;
    }

    .pacoon_logo {
        margin-top: -50px;
    }

    .card_wrapper_two {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .fourth_card_exp {
        padding-top: 90px;
        padding-bottom: 40px;
    }

    .fourth_card_exp h2 {
        line-height: 70px;
    }

    .wrapper_third {
        padding: 100px 45px;
    }

    .right_aside p:nth-child(2) {
        text-align: center;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1865px) {
    .wrapper {
        background-image: url(images/blob-scene-haikei.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: fit-content;
    }

    .dark-mode .wrapper {
        background-image: url(images/blob-scene.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: fit-content;
    }

    .wrapper .card_wrapper {
        display: flex;
        justify-content: center;
        padding-top: 130px;
        padding-bottom: 80px;
    }

	.card_wrapper,
    .wrapper_secondary,
    .footer,
    .wrapper_third,
    .bm-pl__blob,
    .wrapper_fourth {
        position: static;
        height: fit-content;
        display: block;
        width: 100%;
        padding: 30px 50px;
        margin: 0; 
    }

    .wrapper_secondary,
    .footer,
    .wrapper_third,
    .bm-pl__blob,
    .wrapper_fourth {
        font-size: 1.4em;
    }

    .card .main_card {
        display: block;
    }

    .bm-pl__blob {
        display: none;
    }
    
    .wrapper_fourth .fourth_card_exp {
        margin: 0;
        padding-right: 0;
    }
    .wrapper_third .left_aside {
        width: 100%;
    }

    .card_wrapper_two .card {
        margin: 0;
    }

    .hey_there,
    .hey-there-click {
        display: none;
    }

    .pacoon_logo {
        margin-top: -50px;
    }

    .card_wrapper_two {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .fourth_card_exp {
        padding-top: 90px;
        padding-bottom: 40px;
    }

    .fourth_card_exp h2 {
        line-height: 70px;
    }

    .wrapper_third {
        padding: 100px 45px;
    }

    .right_aside p:nth-child(2) {
        text-align: center;
    }

}